/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
#navbar {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

a{
	text-decoration: none;
	color: black;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, a:hover{
	color: #B1663C;
	font-weight: 900;
}


.edit-banner{
	width:100%;
	background-color: black;
	display:none;
	gap:1vw;
	margin-top: 0;
	margin-bottom: 20px;
	padding:8px 0;
	color:white;
	justify-content: center;
	align-items: center;
}

#navbar{
	display: flex;
	justify-content: space-between;
}

#logout-btn{
	display:none;
}
#banner-btn{
	border-radius: 25px;
	padding: 8px 16px;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
	padding-bottom: 16px;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}



.open-js-modal{
	display: none;
	color:black;
	font-size:14px;
	font-family: 'Work Sans';
	font-weight: 400;
	align-items: center;
	padding-bottom: 16px;;
}

.open-js-modal i{
	padding: 0 8px 0 0;
	font-size: 1rem;
}

#portfolio .open-js-modal{
	margin-left: 24px;
}

#introduction-image .open-js-modal{
	margin-left:55px
}

.filterbar{
	display: flex;
	justify-content: center;
	gap:16px;
	padding-bottom: 32px;
}

.filterbutton{
	color:#1D6154;
	background-color: white;
	border-radius: 25px;
	border: 1px solid #1D6154;
	padding: 8px;
	font-family: 'Syne';
	font-size: 16px;

}

.filterbutton:hover{
	background-color: #1D6154;
	color:white;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > *, #login {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, .login-form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}


#contact input, .login-form input, #modal input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], #login-submit, .add-photo-button, .confirm-photo-button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	padding: 8px;
	border: none;
}

input[type="submit"], #login-submit, .add-photo-button{
background-color: #1D6154;}

#confirm-photo-button{
	background-color: #A7A7A7;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* CSS rules for login page */

#login{
	height:95vh;
	width:379px;
	margin: auto;
}


#login-submit:hover{
	font-weight: bold;
	cursor: pointer;
}

#login a{
	align-self: center;
	text-decoration: underline;
}

/*CSS rules for modal */
#modal{
	position:fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);

}

#modal-container
{display: none};

#add-photo-container{
	display:none;
	gap:16px;}

#modal-container,  #add-photo-container{
	overflow: auto;
	width:550px;
	max-height: calc(100vh - 20px);
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	border: 1px solid black;
	padding:16px;
} 

#modal-container p{
	color: #D65353;
}

#add-photo-container .return-button{
	display: flex
}

#modal-container .return-button{
	visibility: hidden;
}

.fa-times:hover, .modal-gallery, a:hover{
	cursor: pointer;
}
#modal-container h3, #add-photo-container h3{
	font-size:26px;
}

#add-photo-container input, select, #add-photo-container label{
	margin: 0 48px;
}
#add-photo-container input{
	margin-bottom: 16px;
}
.modal-gallery {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	border-bottom: 1px solid grey;
	margin:16px 0px;

}

.modal-figure{
	width:100px;;
}

.modal-gallery img{
	height:90px;
	width:100%;
	object-fit: cover;
}

.maximize-btn{
	visibility: hidden;
}

.modal-figure:hover .maximize-btn{
	visibility: visible;
}


.maximize-btn, .delete-btn{
	color: white;
	background-color: black;
	padding: 3px;
	border-radius: 25%;
	top:0;
}

.icon-div {
	gap: 8px;
	position: relative;
	text-align: right;
	top: -100px;
	margin-right:3px ;
	height:0px;
}


.modal-gallery figure:hover .maximize-btn{
	visibility: visible;
}

.modal-icons{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	background-color: none;
}

.modal-icons button{
	background: none;
	border: none;
}



#add-photo-container .return-button, #add-photo-container i{
	visibility: visible;
	display: flex;
}

/* Formulaire ajout photos */
.drag-area{
	height:160px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 30px 48px;
}

.fa-image{
	color: grey;
	font-size: 58px;
}

#add-photo-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 48px;
	border-bottom: 1px solid grey;
}

.input-btn{
	border-radius: 25px;
	background-color: #CBD6DC ;
	color: #306685;
	border: none;
	padding: 8px 24px;
}



.confirm-photo-button{
	background-color: #A7A7A7;
	border: none;
	margin: 24px 0px;
}



.modal-icons{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

